.btn{
    padding: 8px 20px;
    border-radius: 20px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn-color{
    background-color: #ffa600;
    color: #000;
    padding: 8px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
    padding: 8px 20px;
    font-size: 20px;
}


.btn-color:hover{
    background-color: #b17300;
    color: #fff;
    transition: all 0.3s ease-out;
}