.demo {
    margin: 5rem auto;
    padding: 1rem;
    width: 100%;

}

.demo .container {
    width: 1240px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.demo .col-1 {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}


.col-1 h2 {
    font-size: 2rem;
    font-weight: 600;
    margin: .5rem 0;
}

.col-1 p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}


.demo .col-2 {
    margin: auto;
}

.col-1 input {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

@media screen and (max-width: 960px) {
    .demo .container {
        max-width: 100%;
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }

    .demo {
        margin: 0 auto;
    }

    .demo iframe {
        margin: auto;
        width: 360px;
    }
}